.sf-menu.sf-style-white.sf-navbar li {
position: relative;

}

.sf-menu.sf-style-white.sf-navbar li ul {
 left: 0;
}

.menu a.active {
  color:#ffffff !important;

}

.sf-menu.sf-style-white {
  float: left;
  margin-bottom: 1em;
  padding: 0;
}
.sf-menu.sf-style-white.sf-navbar {
  width: 100%;
  border-radius: 10px;
}

li#menu-218-1.first, li#menu-218-1.first a:hover, li#menu-218-1.first a:focus, li#menu-218-1.first a:active  {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}


li#menu-218-1.first, li#menu-218-1.first a:focus {
background: url("http://sandbox.ship.edu/kutztown/sites/all/themes/kln_theme/images/home.png") no-repeat transparent;
background-position: center center;
text-indent: -9999px;
white-space:nowrap;
overflow:hidden;
}

li#menu-218-1.first a:active, li#menu-218-1.first a:hover {
background: url("http://sandbox.ship.edu/kutztown/sites/all/themes/kln_theme/images/homehover.png") no-repeat transparent;
background-position: center center;
text-indent: -9999px;
white-space:nowrap;
overflow:hidden;

}


.sf-menu.sf-style-white ul {
  padding-left: 0;
}
.sf-menu.sf-style-white a {
  /*border: 1px solid #e1e1e1;*/
  color: #fff;
  padding: 0.75em 1em;
}
.sf-menu.sf-style-white a.sf-with-ul {
  padding-right: 2.25em;
}
.sf-menu.sf-style-white.rtl a.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}
.sf-menu.sf-style-white.sf-navbar a {
  border: 0;
}
.sf-menu.sf-style-white span.sf-description {
  color: #555555;
  display: block;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 5px 0 0 5px;
  padding: 0;
}
.sf-menu.sf-style-white.sf-navbar {
  /*background: #e9e9e9; neutral*/
  background: #5e5e5e; /* Old browsers */
  background: -moz-linear-gradient(top, #8a8a8a 0%, #707070 49%, #5e5e5e 51%, #777777 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8a8a8a), color-stop(49%,#707070), color-stop(51%,#5e5e5e), color-stop(100%,#777777)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #8a8a8a 0%,#707070 49%,#5e5e5e 51%,#777777 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #8a8a8a 0%,#707070 49%,#5e5e5e 51%,#777777 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #8a8a8a 0%,#707070 49%,#5e5e5e 51%,#777777 100%); /* IE10+ */
  background: linear-gradient(top, #8a8a8a 0%,#707070 49%,#5e5e5e 51%,#777777 100%); /* W3C */  
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  /*text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);*/
  overflow: visible;
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
  -webkit-appearance: none;
  margin-bottom: 10px;
  margin-left:0px;}

.sf-menu.sf-style-white li {
 min-width: 132px;
 text-align: center;
 border-right: 1px solid #777777;
}


.sf-menu.sf-style-white li li {
  background: #f7f7f7;
  color: #ffffff;
  border-right: none !important;
  border-top: 1px solid #777777;
  font-size: 80%;
  min-width: 165px;
  text-align: left;
}
.sf-menu.sf-style-white li li li {
  background: #f5f5f5;
}
/*.sf-menu.sf-style-white li:hover,
.sf-menu.sf-style-white li.sfHover,
.sf-menu.sf-style-white a:focus,*/
.sf-menu.sf-style-white a:hover,
.sf-menu.sf-style-white a:active,
.sf-menu.sf-style-white.sf-navbar li li {
  background: #555555;
  color: white !important;
}



.sf-menu.sf-style-white.sf-navbar li li a:hover {
  background: #333;
  color: white !important;

}


.menu a.active {
color: #ccc !important;
  /*text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);*/
}

{background: pink !important;}
.sf-menu.sf-style-white.sf-navbar li ul {
  background-color: #555555;
  color: #ffffff;
}
.sf-menu.sf-style-white.sf-navbar li ul li ul {
  background-color: transparent;
}
.sf-menu.sf-style-white .sf-sub-indicator {
  background-image: url('../images/arrows-ffffff.png');
}
.sf-menu.sf-style-white.rtl .sf-sub-indicator {
  background-image: url('../images/arrows-ffffff-rtl.png');
}
.sf-menu.sf-style-white ul.sf-megamenu li.sf-megamenu-wrapper ol,
.sf-menu.sf-style-white ul.sf-megamenu li.sf-megamenu-wrapper ol li {
  margin: 0;
  padding: 0;
}
.sf-menu.sf-style-white ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent {
  font-weight: bold;
}
.sf-menu.sf-style-white ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  display: inline;
  float: left;
  width: 12em;
}
.sf-menu.sf-style-white.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  float: right;
}
.sf-menu.sf-style-white li.sf-parent-children-1 ul.sf-megamenu {
  width: 12em;
}
.sf-menu.sf-style-white li.sf-parent-children-2 ul.sf-megamenu {
  width: 24em;
}
.sf-menu.sf-style-white li.sf-parent-children-3 ul.sf-megamenu {
  width: 36em;
}
.sf-menu.sf-style-white li.sf-parent-children-4 ul.sf-megamenu {
  width: 48em;
}
.sf-menu.sf-style-white li.sf-parent-children-5 ul.sf-megamenu {
  width: 60em;
}
.sf-menu.sf-style-white li.sf-parent-children-6 ul.sf-megamenu {
  width: 72em;
}
.sf-menu.sf-style-white li.sf-parent-children-7 ul.sf-megamenu {
  width: 84em;
}
.sf-menu.sf-style-white li.sf-parent-children-8 ul.sf-megamenu {
  width: 96em;
}
.sf-menu.sf-style-white li.sf-parent-children-9 ul.sf-megamenu {
  width: 108em;
}
.sf-menu.sf-style-white li.sf-parent-children-10 ul.sf-megamenu {
  width: 120em;
}

#navigation .links li, #navigation .menu li {
padding: 0px !important;
}


