.sf-menu.sf-style-white.sf-navbar li {
position: relative;
}

.sf-menu.sf-style-white.sf-navbar li ul {
 left: 0;
}

.menu a.active {
  color:#ffffff !important;

}

.sf-menu.sf-style-white {
  float: left;
  margin-bottom: 1em;
  padding: 0;
}
.sf-menu.sf-style-white.sf-navbar {
  width: 100%;
  border-radius: 10px;
}

li#menu-218-1.first, li#menu-218-1.first a:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sf-menu.sf-style-white ul {
  padding-left: 0;
}
.sf-menu.sf-style-white a {
  /*border: 1px solid #e1e1e1;*/
  color: #fff;
  padding: 0.75em 1em;
}
.sf-menu.sf-style-white a.sf-with-ul {
  padding-right: 2.25em;
}
.sf-menu.sf-style-white.rtl a.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}
.sf-menu.sf-style-white.sf-navbar a {
  border: 0;
}
.sf-menu.sf-style-white span.sf-description {
  color: #555555;
  display: block;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 5px 0 0 5px;
  padding: 0;
}
.sf-menu.sf-style-white.sf-navbar {
  /*background: #e9e9e9; neutral*/
  background: -moz-linear-gradient(center top , #8A8A8A 0%, #707070 49%, #5E5E5E 51%, #777777 100%) repeat scroll 0 0 transparent;
  
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
}

.sf-menu.sf-style-white li {
 min-width: 120px;
 text-align: center;
 border-right: 1px solid #777777;
}


.sf-menu.sf-style-white li li {
  background: #f7f7f7;
  color: #ffffff;
  border-right: none !important;
}
.sf-menu.sf-style-white li li li {
  background: #f5f5f5;
}
.sf-menu.sf-style-white li:hover,
.sf-menu.sf-style-white li.sfHover,
.sf-menu.sf-style-white li.active a,
.sf-menu.sf-style-white a:focus,
.sf-menu.sf-style-white a:hover,
.sf-menu.sf-style-white a:active,
.sf-menu.sf-style-white.sf-navbar li li {
  background: #555555;
  color: white !important;
}
.sf-menu.sf-style-white.sf-navbar li ul {
  background-color: #555555;
  color: #ffffff;
}
.sf-menu.sf-style-white.sf-navbar li ul li ul {
  background-color: transparent;
}
.sf-menu.sf-style-white .sf-sub-indicator {
  background-image: url('../images/arrows-ffffff.png');
}
.sf-menu.sf-style-white.rtl .sf-sub-indicator {
  background-image: url('../images/arrows-ffffff-rtl.png');
}
.sf-menu.sf-style-white ul.sf-megamenu li.sf-megamenu-wrapper ol,
.sf-menu.sf-style-white ul.sf-megamenu li.sf-megamenu-wrapper ol li {
  margin: 0;
  padding: 0;
}
.sf-menu.sf-style-white ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent {
  font-weight: bold;
}
.sf-menu.sf-style-white ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  display: inline;
  float: left;
  width: 12em;
}
.sf-menu.sf-style-white.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  float: right;
}
.sf-menu.sf-style-white li.sf-parent-children-1 ul.sf-megamenu {
  width: 12em;
}
.sf-menu.sf-style-white li.sf-parent-children-2 ul.sf-megamenu {
  width: 24em;
}
.sf-menu.sf-style-white li.sf-parent-children-3 ul.sf-megamenu {
  width: 36em;
}
.sf-menu.sf-style-white li.sf-parent-children-4 ul.sf-megamenu {
  width: 48em;
}
.sf-menu.sf-style-white li.sf-parent-children-5 ul.sf-megamenu {
  width: 60em;
}
.sf-menu.sf-style-white li.sf-parent-children-6 ul.sf-megamenu {
  width: 72em;
}
.sf-menu.sf-style-white li.sf-parent-children-7 ul.sf-megamenu {
  width: 84em;
}
.sf-menu.sf-style-white li.sf-parent-children-8 ul.sf-megamenu {
  width: 96em;
}
.sf-menu.sf-style-white li.sf-parent-children-9 ul.sf-megamenu {
  width: 108em;
}
.sf-menu.sf-style-white li.sf-parent-children-10 ul.sf-megamenu {
  width: 120em;
}