html {
font-family:Helvetica, Verdana, Tahoma, sans-serif;
overflow-x: hidden;
}

body {
background-color:#fff;
color:#444;
}

#main {
background-color:#fff;
}

#page {
overflow:hidden;
}

a:link,a:visited {
color:#0081fa;
text-decoration:none;
outline: none;
}

a:hover,a:focus,a:active {
color:#111;
text-decoration:none;
outline: none;
}

#header {
padding-top:5px;
background: url('mocha.png');
background-repeat: repeat-xy;
}

#footer {
height:35px;
background-color:#333;
color:#999;
font-size:80%;
}

.region-footer a:link,.region-footer a:visited {
color:#b5c59f; /*#ff3000 orange*/
}

#footer a:hover {
color:#ddd;
text-decoration:underline;
}

.item-list {
font-size:80%;
}

.node-readmore{
display: none !important;
}

.form-required{
display: none !important;
}

#user-login-form {
font-size: 90%;
}

.form-submit {
color: #111;
font-size: 90%;
background-color:#99bbdd ;
border-width: 1px;
border-style: solid;
border-color: #444;
margin: 5px;
}

.form-submit:hover {
font-size: 90%;
background-color: #0081fa;
color: white;
transition: background-color 100ms ease-out 0s;
}

#navigation {
 margin-top: 15px;
 position: relative;
}

#main {
padding-top: 2em !important;
max-width: 960px;
margin: 0 auto;

}

#content.column {
 margin-top: 40px;
}

#page {
 max-width:100% !important;
  }

.header__logo {
    display: block;
    margin: auto !important;
  float: none !important;
}

.header__logo-image {
    display: block;
    margin: auto;

}
#footer.region .block {
width: 960px;
margin: 0 auto;
line-height: 0em;
}

/*Sticky Footer*/

#footer {
  position: fixed;
  bottom: 0;
  width: 100%
}

#main {
  padding-bottom: 75px;
}

p#skip-link {
 margin: 0 !important;
}



#navigation {
float: left !important;
width: 100% !important;
margin-left: 0 !important;
margin-right: -100% !important; / this and the width are pushing the content section down /
padding: 0 !important;
height: 3em !important;
  }

#content {
  float: left !important;
width: 100% !important;
margin-left: 0 !important;
margin-right: -1200px !important;
margin-top: 3em !important; / moved the content down below the height of the menu */
padding: 0 ;
}

input:focus {
box-shadow: 0 0 5px #999999; 
 border: 1px solid #999999;
 background: #fbfbfb;
 outline: medium none;
}

input {
  border: 1px solid #999999;
  background: #ffffff;
}