html {
font-family:Helvetica, Verdana, Tahoma, sans-serif;
overflow-x: hidden;
}

body {
background-color:#ddd;
color:#444;
margin:10px;
}

#main {
background-color:#fff;
}

#page {
-moz-box-shadow:6px 6px 8px #444;
-webkit-box-shadow:6px 6px 8px #444;
box-shadow:6px 6px 8px #444;
margin-top:10px;
margin-bottom:10px;
overflow:hidden;
}

a:link,a:visited {
color:#434F8B;
text-decoration:none;
}

a:hover,a:focus,a:active {
color:#111;
text-decoration:none;
}

header.header {
padding-top:5px;
background-image:url(../images/mocha.png);
background-repeat:repeat-xy;
}

#footer {
height:50px;
background-color:#333;
color:#999;
font-size:80%;
}

.region-footer a:link,.region-footer a:visited {
color:#ddd;
}

.region-footer a:hover {
color:#ddd;
text-decoration:underline;
}

.item-list {
font-size:80%;
}

ul {
list-style-type:none;
}

.node-readmore{
display: none !important;
}

.form-required{
display: none !important;
}

#user-login-form {
font-size: 90%;
}

.form-submit {
color: #111;
font-size: 90%;
background-color:#99bbdd ;
border-width: 1px;
border-style: solid;
border-color: #444;
}

.form-submit:hover {
font-size: 90%;
background-color: #434F8B;
color: white;
transition: background-color 100ms ease-out 0s;
}